@import '@fortawesome/fontawesome-free/css/all.min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-gradient-to-r from-gray-200 to-stone-200 pt-16 md:pt-20
    }
}

@layer components {
    .print-pdf {
        @apply text-sm p-4 w-[148mm] h-[210mm] bg-white text-black;
    }

    @keyframes wiggle {

        0%,
        100% {
            transform: rotate(-40deg);
        }

        50% {
            transform: rotate(40deg);
        }
    }

    .animate-wiggle {
        display: inline-block;
        animation: wiggle 3s infinite;
    }
}